## Cleaning Dataset

In [ ]:
#We are going to start by loading in the dataset and cleaning it to make sure all columns are the correct datatype

In [1]:
import numpy as np
import pandas as pd

# import python packages

In [2]:
raw_df = pd.read_csv("Data/Raw_Bitcoin_tweets.csv") #Loads in csv file to a pandas DataFrame

# load data
# We see that we might have formatting issues with the user_created, 
# user_followers, user_friends, user_favourites, and is_retweet columns

C:\Users\edgar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5,6,7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
raw_df.head()

#Print first 5 rows to investigate the dataframe

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

In [4]:
raw_df.info() #Prints DataFrame info

#We see that we have 3,029,118 rows and 13 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3029118 entries, 0 to 3029117
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   user_name         object
 1   user_location     object
 2   user_description  object
 3   user_created      object
 4   user_followers    object
 5   user_friends      object
 6   user_favourites   object
 7   user_verified     object
 8   date              object
 9   text              object
 10  hashtags          object
 11  source            object
 12  is_retweet        object
dtypes: object(13)
memory usage: 300.4+ MB

In [5]:
df = raw_df.drop(columns = ["hashtags", "is_retweet"]) #Drops the columns hashtags, and is_retweet

#We are going to drop these columns because they are irrelavant for our EDA

In [6]:
df.isnull().sum() #Check to see nulls present in each column

#We see that we have a large amount of nulls in user_location and user_description. This is fine since users are not
#required to add their location or a description. What is not okay is nulls in user_names or text. This is because
#these are essential columns needed for analysis

user_name                31
user_location       1506765
user_description     376660
user_created             83
user_followers          124
user_friends            124
user_favourites         124
user_verified           124
date                    124
text                    124
source                 3738
dtype: int64

In [7]:
df.dropna(subset = ["user_name", "text"], inplace = True) #Drop rows that have nulls in user_names or text. 

#These are necessary for an EDA so we will just drop the rows with nulls in these columns

In [8]:
df.isnull().sum() #Check to see nulls present in each column

#Verify that nulls were dropped

user_name                 0
user_location       1506660
user_description     376568
user_created              0
user_followers            0
user_friends              0
user_favourites           0
user_verified             0
date                      0
text                      0
source                 3614
dtype: int64

In [9]:
df.dtypes #Checks to see the data type in each column

#Looks like columns 3,4,5,6,7, and 8 were imported incorrectly

user_name           object
user_location       object
user_description    object
user_created        object
user_followers      object
user_friends        object
user_favourites     object
user_verified       object
date                object
text                object
source              object
dtype: object

In [10]:
usercreated_errors = pd.to_datetime(df["user_created"], \
                                    errors = 'coerce').isna() #Turns the user_created column into a datetime object 
                                                              #and turns rows that couldn't be coverted into nulls
                                                              #and lastly creates a mask to see rows that have nulls

                
df.loc[usercreated_errors] #Calls rows that have nulls in them based on the previous mask


#It looks like there were input errors all across the data. There are 15 errors in the user_created column. 
#This is an insignificant amount so we are just going to drop them from the dataframe

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,source
64943,Can roam the worldï¼ŒIt's nine to five againáµ•á´—áµ•)...,2020-11-09 19:44:24,9,141,36.0,False,2021-04-07 16:23:03,@krakenfx #ETH #BTC If you want to become po...,"['ETH', 'BTC', 'Bitcoin']",Twitter Web App,NaN
137068,*Muhammad Yasir* hello stalker nice to tweet ...,2009-08-31 07:40:42,280.0,623,499.0,False,2021-06-23 14:51:12,Official ESHOP Airdrop. If You Missed Meme Tok...,"['cryptocurrency', 'BSC', 'Bitcoin', 'Ethereum...",Twitter for Android,NaN
180575,â€¢ Learn n To Do d'Best...!!!!!!!!,2010-08-16 10:55:09,52.0,277,127.0,False,2021-06-22 13:31:16,@pufferswap Nice project\n\n@karnoto_hendrik \...,"['YieldFarming', 'Airdrop', 'Binance', 'Bitcoi...",Twitter Web App,NaN
693194,FB- Xiomara CastaÃ±eda,2015-12-21 18:17:12,9.0,81,531.0,False,2021-07-26 11:54:15,#btc to the moon ðŸš€ðŸš€ 77774,['btc'],Twitter Web App,NaN
697397,Pin bb : 26ea62f8 . Line : baliratih_bali,2012-06-01 01:08:25,4.0,110,21.0,False,2021-07-26 11:48:46,#btc to the moon ðŸš€ðŸš€ 46059,['btc'],Twitter Web App,NaN
1067665,YOU'LL NEVER WALK ALONE,2012-08-29 10:32:29,71.0,314,1968.0,False,2021-08-16 16:39:27,@DogCakeFinance @DogCakeFinance Great project\...,"['YieldFarming', 'Airdrop', 'PancakeSwap', 'Gi...",Twitter for Android,NaN
1347699,amp=l,2013-01-02 07:40:53,9.0,33,0.0,False,2021-10-22 21:33:06,@bloodgoodBTC5\n\n#BitcoinÂ \n\nShort term tr...,['Bitcoin'],Twitter for iPhone,NaN
1393938,ðŸ’° based on the latest AI innovations,2021-03-31 11:02:58,4.0,26,0.0,False,2021-10-21 18:12:08,ðŸ¤¯Mind-blowing 99.7% of all Bitcoin holders are...,"['cryptotrading', 'crypto', 'tradingbots', 'bi...",Twitter for iPhone,NaN
1513850,My_Facebook http://t.co/tof8V41sTA,2012-08-24 20:37:55,285.0,933,389.0,False,2021-10-29 08:22:59,@pythonwealth Good Project ðŸŽ‰ðŸŽ‰ðŸŽ‰ðŸŽ‰\n\n@nurull_pad...,"['PW', 'pythonwealth', 'Presale', 'token', 'ic...",Twitter Web App,NaN
1611481,https://t.co/atJqp3g7I2,2014-11-16 20:10:32,2.0,32,20.0,False,2021-11-06 04:05:58,@iftikharpost the world is flat #bitcoin ðŸ’ª,['bitcoin'],Twitter for iPhone,NaN
1811149,jadii nine is 9 :D,2011-01-20 02:00:55,200.0,229,44.0,False,2021-11-18 13:26:39,@airdropinspect Good and special project\n@anc...,"['Airdrop', 'Airdrops', 'Airdropinspector', 'B...",Twitter Web App,NaN
2452878,I also love @monero and @nayibbukele,2022-02-22 17:50:16,26.0,274,2030.0,False,2022-03-18 21:43:15,"DocumentingBTC: #bitcoin at $30: ""Am I too lat...","['bitcoin', 'bitcoin', 'bitcoin', 'bitcoin']",IFTTT,NaN
2599064,https://t.co/mzwhnIxibhâ€¦,2016-07-17 10:56:10,1061.0,31,100,False,2022-03-24 11:22:17,Crypto Market\nOpen your Free Angel One Accoun...,"['cryptocurrencies', 'bitcoin', 'cryptotrading...",Twitter for Android,NaN
2612133,Electronics: Find tech deals for smartphones,watches,headphones,speakers,"Laptops and more.""",2021-10-09 06:21:24,1.0,35,20,False,Isn`t it awesome?
2682674,:3. ...,2010-10-06 05:31:16,252.0,614,97.0,False,2022-03-20 21:24:31,ðŸ’¸ Earn free #BTC and multiply crypto up to 15%...,"['BTC', 'betfurysuccess']",Twitter Web App,NaN

In [11]:
df["user_created"] = pd.to_datetime(df["user_created"], errors = 'coerce') #Coverts user_created column into a datetime 
                                                                           #object and makes errors into nulls

df.dropna(subset = ["user_created"], inplace = True) #Drops all rows with nulls present in the user_created column


#We are dropping all rows that couldn't been converted into datetime objects in the user_created column

In [12]:
df.dtypes #Checks to see that datatypes of the dataframe

#Verify that the datetype was updated

user_name                   object
user_location               object
user_description            object
user_created        datetime64[ns]
user_followers              object
user_friends                object
user_favourites             object
user_verified               object
date                        object
text                        object
source                      object
dtype: object

In [13]:
df["user_followers"] = df["user_followers"].astype("float") #Converts user_followers into float datatype
df["user_friends"] = df["user_friends"].astype("float") #Converts user_friends into float datatype
df["user_favourites"] = df["user_favourites"].astype("float") #Converts user_favourites into float dataype
df["user_verified"] = df["user_verified"].astype("bool") #Converts user_verified into bool datatype
df["date"] = pd.to_datetime(df["date"])

#Convert the rest of the columns to the correct data type

In [14]:
df.dtypes #Checks to see that datatypes of the dataframe

#Verify that the datetypes were updated

user_name                   object
user_location               object
user_description            object
user_created        datetime64[ns]
user_followers             float64
user_friends               float64
user_favourites            float64
user_verified                 bool
date                datetime64[ns]
text                        object
source                      object
dtype: object

In [15]:
df.info() #Checks to see the dataframe info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3028948 entries, 0 to 3029117
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   user_name         object
 1   user_location     object
 2   user_description  object
 3   user_created      datetime64[ns]
 4   user_followers    float64
 5   user_friends      float64
 6   user_favourites   float64
 7   user_verified     bool
 8   date              datetime64[ns]
 9   text              object
 10  source            object
dtypes: bool(1), datetime64[ns](2), float64(3), object(5)
memory usage: 257.1+ MB

## Text Processing

In [ ]:
#For this next part we will perform text cleaning and processing. This wil be done so that we can do a better N-Gram 
#analysis. Our cleaning will involve removing emojis, strange characters, punctuation, stopwords, lemmentizing words, 
#and converting text to lowercase.

In [16]:
import nltk
import re
import string
from nltk.stem.wordnet import WordNetLemmatizer

#Import relevant packages

In [17]:
def clean_text(text): 
    text_cleaned = re.sub(r'@[A-Za-z0-9]+','',text) # Removes @
    text_cleaned = re.sub(r'#','', text_cleaned) # Removes #
    text_cleaned = re.sub(r'RT[\s]+','',text_cleaned) # Removes RT
    text_cleaned = re.sub(r'https?:\/\/\S+','',text_cleaned) # Removes hyperlinks
    text_cleaned = text_cleaned.replace('\n','') # removes \n
    return text_cleaned

#We are going to define a function that removes uncessary characters like @, #, RT, /n, and hyperlinks
#This is so that we can more easily analyze the contents of each tweet

In [18]:
df["processed_text"] = df["text"].apply(clean_text)
df["processed_text"].head()

0    Blue Ridge Bank shares halted by NYSE after bi...
1    ðŸ˜Ž Today, that's this Thursday, we will do a "ðŸŽ¬...
2    Guys evening, I have read this article about B...
3    $BTC A big chance in a billion! Price: \487264...
4    This network is secured by 9 508 nodes as of t...
Name: processed_text, dtype: object

In [19]:
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

#We will also remove all emojis from the tweets to clean text further

In [20]:
df["processed_text"] = df["processed_text"].apply(remove_emojis)
df["processed_text"].head()

0    Blue Ridge Bank shares halted by NYSE after bi...
1     Today, that's this Thursday, we will do a " T...
2    Guys evening, I have read this article about B...
3    $BTC A big chance in a billion! Price: \487264...
4    This network is secured by 9 508 nodes as of t...
Name: processed_text, dtype: object

In [21]:
df['processed_text'] = df['processed_text'].str.lower() #Convert text into lowercase
df['processed_text'].head()

#This converts all text into lowercase

0    blue ridge bank shares halted by nyse after bi...
1     today, that's this thursday, we will do a " t...
2    guys evening, i have read this article about b...
3    $btc a big chance in a billion! price: \487264...
4    this network is secured by 9 508 nodes as of t...
Name: processed_text, dtype: object

In [22]:
def remove_puncuation(text):
    no_punct = [word for word in text if word not in string.punctuation] #Grabs only words without punctuation
    words_wo_punct = ''.join(no_punct) #Joins words back together to get full tweet back
    return words_wo_punct

#This will remove all punctuation from tweets

In [23]:
df['processed_text'] = df["processed_text"].apply(remove_puncuation)
df['processed_text'].head()

0    blue ridge bank shares halted by nyse after bi...
1     today thats this thursday we will do a  take ...
2    guys evening i have read this article about bt...
3    btc a big chance in a billion price 48726440 2...
4    this network is secured by 9 508 nodes as of t...
Name: processed_text, dtype: object

In [24]:
df["processed_text"] = df["processed_text"].str.strip() #Removes trailing whitespaces from text
df["processed_text"].head()

#This will remove all excess whitespace in the text

0    blue ridge bank shares halted by nyse after bi...
1    today thats this thursday we will do a  take 2...
2    guys evening i have read this article about bt...
3    btc a big chance in a billion price 48726440 2...
4    this network is secured by 9 508 nodes as of t...
Name: processed_text, dtype: object

In [25]:
def tokenize(text):
    split = re.split("\W+", text) #Splits tweet into list format with each word being a value
    return split

#This will split each word to create a list of words for each tweet. This will allow us to remove stopwords easier

In [26]:
df['processed_text'] = df["processed_text"].apply(tokenize)
df['processed_text'].head()

0    [blue, ridge, bank, shares, halted, by, nyse, ...
1    [today, thats, this, thursday, we, will, do, a...
2    [guys, evening, i, have, read, this, article, ...
3    [btc, a, big, chance, in, a, billion, price, 4...
4    [this, network, is, secured, by, 9, 508, nodes...
Name: processed_text, dtype: object

In [27]:
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(text):
    text = [word for word in text if word not in stopwords] #This will only grab the words that are not stopwords
    return text

#This will remove stop words from text list. Examples of stopwords are "the", "is", "and". We will remove these
#stopwords as they do not provide much value in analyzing text topics as they are only used for grammar.

In [28]:
df['processed_text'] = df['processed_text'].apply(remove_stopwords)
df['processed_text'].head()

0    [blue, ridge, bank, shares, halted, nyse, bitc...
1    [today, thats, thursday, take, 2, friend, btc,...
2    [guys, evening, read, article, btc, would, lik...
3    [btc, big, chance, billion, price, 48726440, 2...
4    [network, secured, 9, 508, nodes, today, soon,...
Name: processed_text, dtype: object

In [29]:
wnet = WordNetLemmatizer()

def lemmatize_text(text):
    w = []
    for word in text:
        w.append(wnet.lemmatize(word)) #This will lemmatize words contained in each tweet
    return w

#This will lemmatize words allowing the text to be easier to understand. Lemmantizing words means turning different verions
#of words such as 'changing', 'changed', 'changes' into the root word 'change'. This will allow us to single out 
#words as opposed to analzying different words based on the ending of them.

In [30]:
df['processed_text'] = df['processed_text'].apply(lemmatize_text)
df['processed_text'].head()

0    [blue, ridge, bank, share, halted, nyse, bitco...
1    [today, thats, thursday, take, 2, friend, btc,...
2    [guy, evening, read, article, btc, would, like...
3    [btc, big, chance, billion, price, 48726440, 2...
4    [network, secured, 9, 508, node, today, soon, ...
Name: processed_text, dtype: object

In [31]:
df['processed_text'] = df['processed_text'].apply(lambda x : " ".join(x)) #This will join each word back together into one
                                                                          #string for each tweet. 

#We will join the text back together into one string

## Text Stats and Complexity

In [ ]:
#For this part of our processing we will apply different methods to get columns for text statistics and text complexity.
#This will be so that we can use these additional columns for further analysis

In [32]:
from textstat import flesch_reading_ease

#Import Necessary Packages

## Text Stats

In [33]:
df["character_length"] = df['text'].str.len() #This will grad the length of each tweet in the dataset

#Creates a new "character_length" column which counts the character length of each tweet

## Text Complexity

In [34]:
df["text_complexity_score"] = df['text'].apply(lambda x : flesch_reading_ease(x)) #This will grab a flesh_reading_ease score

#Creates a new complexity column which scores the compexity of each tweet with negatives being difficult and postives being
#easy to read. The full breakdown of the score is available here https://pypi.org/project/textstat/

In [35]:
df.to_csv("Data/Bitcoin_tweets_clean.csv", index = False) #Saves processed dataframe to a csv

#After cleaning, text processing, and adding new columns we will save the dataframe into a new csv called 
#Bitcoin_tweets_clean.csv

## N-Grams

In [ ]:
#For this part of our processing we are going to create frequency tables for the most occuring N-grams.
#An N-gram is a unique sequence of words contained within a document. A monogram is a unique set of words, 
#a bigram is a set of two unique words, a trigram is a set of three unique words and so forth.

#We are going to isolate monograms, bigrams, and trigrams to see what are the most talked about objects in our data

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
def get_top_ngrams(text, n=2):
    
    vec = CountVectorizer(ngram_range = (n,n)).fit(text) #Creates N_grams from text
    bag_of_words = vec.transform(text) #Transforms documents to document-term matrix
    sum_words = bag_of_words.sum(axis=0) #Sums up the occurances of n_grams
    
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()] #Grabs the n_grams and count
    words_freq = sorted(words_freq, key = lambda x: x[1], reverse= True) #Sorts n_gram frequency in descending order
    
    return words_freq

#This function will give a tuple of the n-grams and their count in the dataframe. The n-gram will be produced based on
#the number provided when the function is called

In [38]:
monogram_list = get_top_ngrams(df["processed_text"].astype("str"), 1)[:20] #Calls the top 20 monograms
monogram_frequency = pd.DataFrame(monogram_list, columns=["n_gram", "count"]) #Creates tuple into a dataframe
monogram_frequency.to_csv("Data/monogram_frequency.csv", index = False) #Saves dataframe as a csv

#Create monogram frequency table to be used for EDA

In [39]:
bigram_list = get_top_ngrams(df["processed_text"].astype("str"), 2)[:20] #Calls the top 20 bigrams
bigram_frequency = pd.DataFrame(bigram_list, columns=["n_gram", "count"]) #Creates tuple into a dataframe
bigram_frequency.to_csv("Data/bigram_frequency.csv", index = False) #Saves dataframe as a csv

#Create bigram frequency table to be used for EDA

In [40]:
trigram_list = get_top_ngrams(df["processed_text"].astype("str"), 3)[:20] #Calls the top 20 trigrams
trigram_frequency = pd.DataFrame(trigram_list, columns=["n_gram", "count"]) #Creates tuple into a dataframe
trigram_frequency.to_csv("Data/trigram_frequency.csv", index = False) #Saves dataframe as a csv

#Create trigram frequency table to be used for EDA

## Named Entity Recognition

In [ ]:
#For this part we are going to create frequency tables for top occuring general named enitties as well as 
#the top 5 in-depth named entities using Spacy's Named Entity Recognition model.

#A named entity is a real world object that's assigned a name such as a person, location, or organization. Spacy's 
#pre-trained Named Entity Recognition model is able to identify named entites and classify them as either
#a person, a geographical location, cardinal, money, and so forth. To learn more about the classifications you
#can visit the link here https://spacy.io/usage/linguistic-features

#We are going to create named enity frequency tables to identify the most talked about named entities or real-world objects

In [41]:
import spacy 
from collections import Counter

#Import Neccessary Packages

In [42]:
nlp = spacy.load("en_core_web_sm") #Initalize spacy named entity recognition model

In [43]:
def ner_general(text):
    doc=nlp(text) #Initializes our text for spacy to analyze 
    return [X.label_ for X in doc.ents] #Grabs only the general named entity labels 

#This function applies spacy's Named entity recognition model onto our text and isolated the general labels

In [44]:
def ner_general_frequency(df):
    
    ent = df["processed_text"].apply(lambda x: ner_general(x)) #Calls spacy's named entity recognition model on our text
    ent = [x for sub in ent for x in sub] #Isolates the labels from a list of lists to a list of lables
    
    counter=Counter(ent) #Creates a frequency table of all labels in our text
    count=counter.most_common()[:20] #Isolates the top 20 most common labels
        
    return count

In [45]:
ner_general_list= ner_general_frequency(df) #Calls functions on our text to create frequency table
ner_general_df = pd.DataFrame(ner_general_list, columns=["NER_General", "count"]) #Creates dataframe out of tuples
ner_general_df.to_csv("Data/ner_general_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [46]:
def ner_in_depth(text,ent="CARDINAL"):
    doc=nlp(text) #Applies spacy's model to our text
    return [X.text for X in doc.ents if X.label_ == ent] #Isolates the actual named entities we want to analyze

#This function applies spacy's Named entity recognition model on our text and isolates the actualy named entities
#of a given label that we provide

In [47]:
def ner_in_depth_df(df, in_depth_var):
    
    ent = df["processed_text"].apply(lambda x: ner_in_depth(x, in_depth_var)) #Calls spacy's named entity recognition 
                                                                              #model on our text to grab named entities
                                                                              #of a given label
    
    ent = [x for sub in ent for x in sub] #Isolates the named entities from a list of lists to a list of lables 
    
    counter=Counter(ent) #Creates a frequency table of all named entities in our text
    count=counter.most_common()[:20] #Isolates the top 20 most common labels
        
    return count

In [48]:
ner_cardinal_list = ner_in_depth_df(df, "CARDINAL") #Calls functions on our text to create frequency table
ner_cardinal_df = pd.DataFrame(ner_cardinal_list, columns=["NER_Cardinal", "count"]) #Creates dataframe out of tuples
ner_cardinal_df.to_csv("Data/ner_cardinal_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [49]:
ner_date_list = ner_in_depth_df(df, "DATE") #Calls functions on our text to create frequency table
ner_date_df = pd.DataFrame(ner_date_list, columns=["NER_Date", "count"]) #Creates dataframe out of tuples
ner_date_df.to_csv("Data/ner_date_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [50]:
ner_org_list = ner_in_depth_df(df, "ORG") #Calls functions on our text to create frequency table
ner_org_df = pd.DataFrame(ner_org_list, columns=["NER_Org", "count"]) #Creates dataframe out of tuples
ner_org_df.to_csv("Data/ner_org_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [51]:
ner_person_list = ner_in_depth_df(df, "PERSON") #Calls functions on our text to create frequency table
ner_person_df = pd.DataFrame(ner_person_list, columns=["NER_Person", "count"]) #Creates dataframe out of tuples
ner_person_df.to_csv("Data/ner_person_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [52]:
ner_gpe_list = ner_in_depth_df(df, "GPE") #Calls functions on our text to create frequency table
ner_gpe_df = pd.DataFrame(ner_gpe_list, columns=["NER_Gpe", "count"]) #Creates dataframe out of tuples
ner_gpe_df.to_csv("Data/ner_gpe_df.csv", index = False) #Saves dataframe as a csv for further analysis

In [ ]:
#Now that our cleaning and processing is done we can move to the EDA where we will look at the user info data
#tweet data, and tweet textual data.